@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    color: #75bf61;
    background: rgb(252, 253, 253);
    /* font-family: "Roboto", sans-serif; */
    font-family: "Poppins", sans-serif;
}
body{
    background-position: center;
}
 .navbar{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0px 0px 10px 0px #75bf61;
}
.navbar img{
    width: 90px;
    border-radius: 50%;
}
.navbar img:hover{
    opacity: 80%;
}
.navbar .container-fluid{
    padding-inline: 30px;
}
.nav-link{
    display: inline-block;
   text-decoration: none;
   font-size: 20px;
   transition: .3s;
   opacity: 0;
   animation: slideTop .5s ease forwards;
   margin-right: 10px;
}
.nav-link:hover,
.nav-link .active{
    color: #75bf61;
    border-bottom: 3px solid #75bf61;
}
h2{
    color: rgb(243, 246, 242);
    cursor: pointer;
    font-weight: 500;
}
#call{
    color: black;
    background-color: #75bf61;
}
a{
    text-decoration: none;
    color: black;
}
#intro h1{
    font-size: 35px;
}
.para{
    font-size: 20px;
    text-align: justify;
    margin-top: 10px;
    font-weight: 600;
}
#owner img{
    width: 300px;
    background-color: #aff7a4;
    border-radius: 50%;
    position: relative;
    top: 10px;
}

#home{
    width: 100%;
    height: auto;
}
#intro{
    width: 50%;
    height: auto;
}
#intro h1{
    font-weight: 500;
}
#owner{
    width: 50%;
    height: auto;
}
#check{
    font-size: 100px;
}
#slider{
    position: relative;
    top: 10px;
    z-index: 0
}
.row{
    margin-top: 0;
    position: relative;
    bottom: 10px;
}
.carousel-item img{
    width: 30vh;
    height: 70vh;
    object-fit: contain;
    position: relative;
    z-index: 1;
}
#phone-number{
    margin-left: 10px;
}
#submit{
    background-color: #75bf61;
    color: aliceblue;
}
#submit:hover{
    color: black;
}
form{
    width: 50%;
    height: auto;
    box-shadow: 0px 0px 5px 0px #75bf61;
}
#form-para{
    font-size: 20px;
    margin-bottom: 40px;
    color: #000;
}
form label{
    font-weight: 500;
    font-size: 18px;
    color: #000;
    margin-top: 15px;
}


footer{
    height: auto;
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: start;
    justify-content: space-around;
    box-shadow: 0px 10px 8px 10px #75bf61;
}
footer img{
    width: 150px;
}

footer .box span i{
    font-size: 30px;
    margin-bottom: 11px;
    margin-right: 5px;
}
footer .box a{
    text-decoration: none;
    font-size: 19px;
}
footer .box ol li{
    list-style: none;
    margin-block: 5px;
    color: #000;
    position: relative;
    right: 25px;
}
footer .box ol li:hover{
    color: #75bf61;
}
footer h4{
    border-bottom: 2px solid #75bf61;
}

footer .box1 a{
    text-decoration: none;
    cursor: pointer;
}
footer .box1 a i{
    font-size: 35px;
    margin-right: 12px;
}

footer .box1 a img{
    width: 35px;
    height: 35px;
    filter: saturate(180%);
}
footer .box1 a img:hover{
    filter:none;
}
#copy{
    width: 100%;
    height: auto;
}
#copy, #copy p{
    background-color: #75bf61;
    color: rgb(252, 253, 254);
    font-size: 18px;
    margin-top: 10px;
}



#fixed{
    position: fixed;
    right: 30px;
    bottom: 30px;
    font-size: 40px;
    color: rgb(252, 253, 254);
    background-color: rgb(89, 205, 50);
    border-radius: 30px;
    padding: 8px;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00;
    animation: glow 1s infinite alternate;
    z-index: 3;
}
#tag{
    color: rgb(244, 247, 249);
    animation: glow1 1s infinite alternate; 
}
#page-not-found{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* ///////////////////////////////// */
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}


/* About Us */
#about p{
    font-size: 20px;
    text-align: justify;
    margin-top: 30px;
}
#about h2{
    font-size: 30px;
    width: 148px;
    border-bottom: 3px solid black;
}
#contact{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 30px;
}
#contact h2{
    font-size: 30px;
    /* width: 215px; */
    border-bottom: 3px solid black;
    align-self: center;
}
.box3{
    width: 100%;
    height: auto;
    padding-block-start: 50px;
    padding-block-end: 10px;
}
.box2{
    width: 100%;
    height: auto;
}
.box2 p{
    font-size: 20px;
}
.box2 h6{
    font-size: 20px;
}
.box2 i{
    font-size: 25px;
    margin-bottom: 20px;
}



/* ///////  BLOGS  /////// */
#blogs{
    width: 100%;
    height: auto;
}
.card img{
    width: 100%;
    align-self: center;
}
#blogs h2{
    font-size: 28px;
    width: 290px;
    border-bottom: 3px solid black;
    align-self: center;
}
#blogs p{
    font-size: 18px;
    text-align: justify;
}



@keyframes glow {
    0% {
        text-shadow: 0 0 5px #00ff00, 0 0 5px #00ff00, 0 0 15px #00ff00, 0 0 20px #00ff00;
    }

    50% {
        text-shadow: 0 0 10px #00ff00, 0 0 10px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00;
    }

    100% {
        text-shadow: 0 0 5px #00ff00, 0 0 5px #00ff00, 0 0 15px #00ff00, 0 0 20px #00ff00;
    }
}

@keyframes glow1 {
    0% {
        text-shadow: 0 0 5px #fefbfb, 0 0 5px #f4efef, 0 0 10px #faf6f6, 0 0 15px #faf3f3;
    }

    50% {
        text-shadow: 0 0 10px #000, 0 0 10px #000, 0 0 15px #000, 0 0 20px #000;
    }

    100% {
        text-shadow: 0 0 5px #000, 0 0 5px #000, 0 0 10px #000, 0 0 15px #000;
    }
}

@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}





@media (max-width : 768px){
    #home{
        width: 100%;
        height: auto;
    }
    #intro{
        width: 100%;
        height: auto;
    }
    #owner{
        width: 100%;
        height: auto;
        padding: 0%;
    }
    .navbar img{
        width: 80px;
    }
    #intro .para{
        font-size: 18px;
        font-weight: 600;
        line-height: 1.8;
    }
    #intro h1{
        font-size: 35px;
    }
    .row{
        margin-top: 0;
        position: relative;
        bottom: 20px;
    }
    footer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 50px;
    }
    footer img{
        width: 120px;
        margin-bottom: 20px;
        align-self: center;
    }
    footer .box{
        margin-top: 40px;
    }
    /* footer .box i{
        display: none;
        margin: 0;
    } */
    footer .box1{
        margin-top: 40px;
    }
    .box ol li, .box a{
        font-size: 18px;
    }
    footer h4{
        font-size: 22px;
    }
    form{
        width: 450px;
    }
    form label{
        font-size: 16px;
    }
    #form-para{
        font-size: 17px;
    }
    .navbar .icons{
        font-size: 38px;
        margin-top: 5px;
    }
    .nav-link{
        margin-top: 5px;
        font-size: 17px;
    }
    .navbar-toggler{
        color: #75bf61;
        border: 2px solid #75bf61;
    }
    #about p{
        font-size: 16px;
        text-align: justify;
    }
    #about h2{
        font-size: 28px;
        width: 140px;
        border-bottom: 3px solid black;
    }
    #copy p{
        font-size: 14px;
    }
    #contact h2{
        font-size: 25px;
    }
    #contact .box3 h6{
        font-size: 16px;
    }
    #contact .box3 p{
        font-size: 18px;
    }
    #contact .box3 i{
        font-size: 21px;
    }
    #about h2{
        font-size: 25px;
    }
    #blogs h2{
        font-size: 25px;
    }
    #blogs{
        width: 100%;
        height: auto;
    }
}

@media (max-width : 480px){

    form{
        width: 380px;
    }
}