*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: yellowgreen;
    background: rgb(252, 253, 254);
}
.navbar, .navbar-brand, .container{
    background: yellowgreen;
    color: rgb(252, 253, 254);
}

.container-fluid img{
    width: 300px;
}
i{
    font-size: 40px;
}
#check{
    font-size: 100px;
}
.carousel-item img{
    width: 30vh;
    height: 50vh;
}
select{
    width: 20px;
}
#flag{
    width: 30px;
    height: 30px;
}
#phone-number{
    margin-left: 10px;
}
#submit{
    background-color: yellowgreen;
    color: aliceblue;
}
#submit:hover{
    color: black;
}
